@font-face {
  font-family: Epilogue;
  src: url(../common/font/Epilogue-Regular.ttf);
}

@font-face {
  font-family: Epilogue-bold;
  src: url(../common/font/Epilogue-Bold.ttf);
}

@font-face {
  font-family: Ephesis;
  src: url(../common/font/Ephesis-Regular.ttf);
}

.bg-img{
  background-image: url(../common/img/resources-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 36rem;
}

.resources-header h2{
  margin-top: 15rem;
  font-family: Epilogue-bold;
  font-weight: 800;
  color: #fff;
}

@media(min-width:320px){
  .resources-header h2{
    margin-top: 9rem;
    text-align: center;
    font-size: 2.5rem;
  }
}

@media(min-width:768px){
  .resources-header h2{
    margin-top: 13rem;
    text-align: center;
    font-size: 5rem;
  }
}

.resources-header p{
  font-family: Epilogue;
  color: #fff;
}

@media(min-width:320px){
  .resources-header p{
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media(min-width:768px){
  .resources-header p{
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  }
}

.interested-heading {
  color: #391400;
  font-family: Epilogue-bold;
  font-weight: 700;
  line-height: 1.14;
}

@media (min-width: 320px){
  .interested-heading{
    font-size: 2.5rem;
  }
}

@media (min-width: 768px){
  .interested-heading{
    font-size: 2.5rem;
  }
}

.interested-para {
  color: #391400;
  font-family: Epilogue;
}

@media(min-width:320px){
  .interested-para {
    font-size: 1.25rem;
  }
}

@media(min-width:768px){
  .interested-para {
    font-size: 1.30rem;
  }
}

.main-container{
  padding: 0rem 1.86rem;
}

.section-container{
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-template-rows: auto;
  padding-top: 2.5rem;
}

.picture-wrapper{
  position: relative;
  aspect-ratio: 2/1;
  padding-top: 14rem;
  padding-left: 6rem;
}

.picture-shadow{
  width: 30rem;
  height: 20rem;
  background-color: #f6f1db;
  border-radius: 0.375rem;
  position: absolute;
  z-index: -1;
  top: 10rem;
  left: 0rem;
}

.picture-inner{
  overflow: hidden;
  border-radius: 0.375rem;
  width: 39rem;
  aspect-ratio: 2/1;
}

.picture-object{
  width: 100%;
  height: auto;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 3rem;
  padding-left: 20.5%;
  padding-right: 2.5rem;
}

.content-heading h1{
  font-family: Epilogue;
  font-weight: 700;
  color: #391400;
  padding-bottom: 2rem;
  font-size: 3.5rem;
}

.content-body{
  font-family: Epilogue;
  font-size: 1.25rem;
  line-height: 2rem;
  padding-bottom: 5rem;
  color: #391400a3;
}

.content-btn {
  padding: 0.93rem 1.25rem;
  text-align: center;
  background-color: #cfb53b;
  color: #fff;
  border-radius: 0.375rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  min-width: 17.5rem;
  display: inline-block;
  font-weight: 700;
  font-family: Epilogue;
}

.content-btn:hover {
  color: #fff;
  box-shadow: 0rem 0.5rem 1rem hsl(21, 100%, 11%);
}

.ethical-shadow{
  width: 30rem;
  height: 20rem;
  background-color: #84b3b133;
  border-radius: 0.375rem;
  position: absolute;
  z-index: -1;
  top: 10rem;
  left: 2rem;
}

.box-container{
  position: relative;
  aspect-ratio: 2/1;
  padding-top: 8rem;
  padding-left: 5rem;
}

.box-shadow{
  width: 60%;
  aspect-ratio: 3/1.85;
  background-color: #f6f1db;
  border-radius: 0.375rem;
  position: absolute;
  z-index: -1;
  top: 5rem;
  left: 2rem;
}

.box-inner{
  overflow: hidden;
  border-radius: 0.375rem;
  width: 15rem;
  height: 22rem;
}

.newsletter-heading h1 {
  color: rgb(57, 20, 0);
  font-size: 3.12rem;
  font-family: Epilogue-Black;
  font-weight: 700;
}

@media (min-width: 320px) {
  .newsletter-heading h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .newsletter-heading h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 5rem;
  }
}

.input-btn {
  gap: 1.87rem;
}

input {
  padding-left: 1rem;
  width: 20vw;
  height: 4vw;
  border: 0.2px solid #ed3131;
  border-radius: 0.625rem;
}

@media (min-width: 320px) {
  input {
    width: 40vw;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  input {
    width: 45vw;
    height: 3rem;
  }
}

@media (min-width: 992px) {
  input {
    width: 20vw;
    height: 4rem;
  }
}

.news-btn {
  width: 20vw;
  height: 4vw;
  border: none;
  border-radius: 0.625rem;
  background-color: white;
  color: #000;
  font-size: 1.56rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

@media (min-width: 320px) {
  .news-btn {
    width: 40vw;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  .news-btn {
    width: 45vw;
    height: 3rem;
  }
}

@media (min-width: 992px) {
  .news-btn {
    width: 20vw;
    height: 4rem;
  }
}

.news-btn:hover {
  box-shadow: 0 0.625rem 20px rgba(0, 0, 0, 0.3);
}

.main-link {
  color: #ef6d58;
  text-transform: uppercase;
  font-size: 1.56rem;
}

.hidden {
  visibility: hidden;
}

.link a {
  text-decoration: none;
  line-height: 2.5;
  font-size: 1.25rem;
}

.social-icons {
  color: #ef6d58;
  gap: 1.25rem;
}
