@font-face {
  font-family: Epilogue;
  src: url(../common/font/Epilogue-Regular.ttf);
}

@font-face {
  font-family: Epilogue-bold;
  src: url(../common/font/Epilogue-Bold.ttf);
}

@font-face {
  font-family: Ephesis;
  src: url(../common/font/Ephesis-Regular.ttf);
}

@media (min-width: 320px) {
  .reflection-heading-wrapper {
    padding: 2rem 0rem 2rem 1rem;
  }
}

@media (min-width: 768px) {
  .reflection-heading-wrapper {
    padding: 2rem 2rem;
  }
}

.reflection-heading {
  color: #391400;
  line-height: 1.1;
  font-weight: 900;
  font-family: Epilogue-bold;
}

@media (min-width: 320px) {
  .reflection-heading {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .reflection-heading {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    padding-bottom: 0rem;
  }
}

@media (min-width: 992px) {
  .reflection-heading {
    margin-bottom: 5rem;
  }
}

@media (min-width: 320px) {
  .card-wrapper {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .card-wrapper {
    padding: 1rem 5rem;
  }
}
.card-inner {
  background-color: #f6f1db;
  border-radius: 20px;
}

@media (min-width: 320px) {
  .card-inner {
    padding: 1rem;
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .card-inner {
    padding: 5rem 4rem;
    flex-direction: column-reverse;

  }
}

@media (min-width: 992px) {
  .card-inner {
    flex-direction: column-reverse;
    padding: 5rem 4rem;
  }
}

@media (min-width: 1400px) {
  .card-inner {
    flex-direction: row;
    padding: 5rem 4rem;
  }
}

@media (min-width: 320px) {
  .card-content {
    max-width: 100%;
    padding: 2rem 0rem;
  }
}

@media (min-width: 768px) {
  .card-content {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .card-content {
    max-width: 100%;
  }
}

@media (min-width: 1400px) {
  .card-content {
    max-width: calc(42.5% - 1rem);
  }
}

.content-text {
  color: #381400a3;
  font-size: 1.375rem;
  font-family: Epilogue;
}

.reflection-img-wrapper {
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}

@media (min-width: 320px) {
  .reflection-img-wrapper {
    max-width: 100%;
    margin-top: calc(-2% - 5rem);
  }
}

@media (min-width: 768px) {
  .reflection-img-wrapper {
    max-width: 100%;
    margin-top: calc(-10% - 5rem);
  }
}

@media (min-width: 992px) {
  .reflection-img-wrapper {
    max-width: 100%;
    margin-top: calc(-10% - 5rem);
  }
}

@media (min-width: 1400px) {
  .reflection-img-wrapper {
    max-width: 56%;
    margin-top: calc(-10% - 5rem);
  }
}

.reflection-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.reflection-img-wrapper:hover .reflection-img {
  transform: scale(1.1);
}

.container iframe {
  margin: 1rem auto;
  width: min(100%, 50rem);
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.giveup-heading {
  margin: 0rem;
  padding: 1rem;
  font-weight: 600;
  font-family: Epilogue-bold;
}

@media (min-width: 320px) {
  .giveup-heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .giveup-heading {
    font-size: 2rem;
  }
}

.line {
  margin: 1rem 2rem;
  border: 0.5px solid rgba(255, 100, 100, 0.3);
}

@media (min-width: 320px) {
  .line {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .line {
    width: 90vw;
  }
}

@media (min-width: 992px) {
  .line {
    width: 95vw;
  }
}

.giveup-container {
  display: grid;
  grid-template-rows: auto;
  padding: 0 1rem;
}

@media (min-width: 575px) {
  .giveup-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
  }
}

@media (min-width: 576px) {
  .giveup-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 768px) {
  .giveup-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
}

@media (min-width: 992px) {
  .giveup-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

.gallery-item {
  width: 100%;
}

.image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s ease;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 61, 54, 0.6);
}

.image-wrapper:hover img {
  transform: scale(1.1);
}

.text {
  font-family: Epilogue-bold;
  cursor: pointer;
  margin: 1rem auto;
}

@media (min-width: 320px) {
  .text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 1.5rem;
  }
}

.exp-header {
  margin: 5rem 2rem 5rem 2rem;
}

.exp-heading {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(57, 20, 0);
}

.exp-para {
  margin-top: 3rem;
  font-size: 1.7rem;
  color: rgb(57, 20, 0);
}

@media (min-width: 320px) {
  .exp-body {
    display: none;
  }
}

@media (min-width: 768px) {
  .exp-body {
    display: block;
  }
}

.exp-body {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
}

.shadow {
  width: 68rem;
  height: 42rem;
  background-color: #f6f1db;
  border-radius: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-container {
  margin: 0;
  width: 66rem;
  height: 41rem;
  overflow: hidden;
  border-radius: 1.5rem;
  position: relative;
}

.banner-img {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
}

.banner-content {
  position: absolute;
  z-index: 1;
}

.content-head-img {
  width: 25rem;
  height: 20rem;
  position: relative;
}

.content-img {
  width: 19.25rem;
  height: 16.44rem;
  position: absolute;
  top: 4rem;
  left: 6rem;
}

.content-body {
  color: #fff;
  margin: 4rem 6rem;
  font-size: 1.5rem;
}

.content-body a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  text-decoration: none;
}

.content-body a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-out;
}

.content-body a:hover {
  color: #fff;
}

.content-body a:hover::after {
  width: 100%;
}

.content-action {
  margin: 2rem 6rem;
  padding: 1rem;
  background-color: #e6c42f;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
}

.content-action:hover {
  background-color: #ef6d58;
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.2);
}

.newsletter-heading h1 {
  color: rgb(57, 20, 0);
  font-size: 3.12rem;
  font-family: Epilogue-Black;
  font-weight: 700;
}

@media (min-width: 320px) {
  .newsletter-heading h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .newsletter-heading h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 5rem;
  }
}

.input-btn {
  gap: 1.87rem;
}

input {
  padding-left: 1rem;
  width: 20vw;
  height: 4vw;
  border: 0.2px solid #ed3131;
  border-radius: 0.625rem;
}

@media (min-width: 320px) {
  input {
    width: 70vw;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  input {
    width: 45vw;
    height: 3rem;
  }
}

@media (min-width: 992px) {
  input {
    width: 20vw;
    height: 4rem;
  }
}

.news-btn {
  width: 20vw;
  height: 4vw;
  border: none;
  border-radius: 0.625rem;
  background-color: white;
  color: #000;
  font-size: 1.56rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

@media (min-width: 320px) {
  .news-btn {
    width: 70vw;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  .news-btn {
    width: 45vw;
    height: 3rem;
  }
}

@media (min-width: 992px) {
  .news-btn {
    width: 20vw;
    height: 4rem;
  }
}

.news-btn:hover {
  box-shadow: 0 0.625rem 20px rgba(0, 0, 0, 0.3);
}

.main-link {
  color: #ef6d58;
  text-transform: uppercase;
  font-size: 1.56rem;
}

.hidden {
  visibility: hidden;
}

.link a {
  text-decoration: none;
  line-height: 2.5;
  font-size: 1.25rem;
}

.social-icons {
  color: #ef6d58;
  gap: 1.25rem;
}

.upside {
  margin: 10rem 0rem 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media(min-width:768px){
  .upside{
    justify-content: space-evenly;
    gap: 1rem;
  }
}

@media(min-width:320px){
  .upside-img{
    width: 17rem;
  }
}

@media(min-width:768px){
  .upside-img{
    margin-left: 4rem;
    width: 21rem;
  } 
}

.icon {
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media(min-width:320px){
  .icon{
    display: flex;
    gap: 2rem;
  }
}

@media(min-width:768px){
  .icon{
    display: flex;
    gap: 3rem;
  }
}

.icon svg {
  color: #391400;
}

.avatar-heading h3 {
  font-family: Epilogue-bold;
  font-weight: 800;
  color: #391400;
}

@media(min-width:320px){
  .avatar-heading h3{
    text-align: center;
    font-size: 3.7rem;
  }
}

@media(min-width:768px){
  .avatar-heading h3{
    margin-top: 2rem;

    font-size: 4rem;
  }
}

.avatar-heading p {
  font-family: Epilogue;
  color: #391400;
}

@media(min-width:320px){
  .avatar-heading p{
    text-align: center;
    font-size: 1.5rem;
  }
}

.avatar-wrapper {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.avatar-para p {
  margin: 0rem;
  font-family: Epilogue;
  font-size: 1.3rem;
  color: #391400;
}

.action{
  margin-top: 2rem;
  padding: 1rem;
  background-color: #e6c42f;
  border: none;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
}

@media(min-width:320px){
  .action{
    margin: 2rem;
    width: 15rem;
    font-size: 1.3rem;
  }
}

@media(min-width:768px){
  .action{
    width: 25rem;
    font-size: 1.25rem;
  }
}

.action:hover{
  box-shadow: 0 0.5rem 1rem rgba(56, 20, 0,0.25);
}

.avatar-link{
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.avatar-link:hover{
  color: #fff;
}

